@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Exo:700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #585858;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  padding-top: 6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 150%;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
  text-transform: capitalize;
}

.button_purple {
  background-color: #7F3A6A;
  min-width: 6.9375rem;
}

.button_yellow {
  background-color: #E9A923;
  min-width: 10.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Exo";
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
  color: #313131;
}

.title span {
  white-space: nowrap;
  position: relative;
  z-index: 2;
}

.title span::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #E9A923;
  border-radius: 0.5rem;
  z-index: -1;
}

.title-small {
  font-family: "Exo";
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
  color: #313131;
}

.title-small span {
  white-space: nowrap;
  position: relative;
}

.title-small span::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #E9A923;
  border-radius: 0.5rem;
  z-index: -1;
}

.text {
  line-height: 150%;
  /* 24px */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  z-index: 5;
}

.header__logo img {
  width: 12.125rem;
  height: 3rem;
  min-width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f9f1ee;
}

.footer__container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__logo img {
  width: 12.125rem;
  height: 3rem;
  min-width: 100%;
}

.footer__menu:not(:last-child) {
  margin-bottom: 1.75rem;
}

.footer__social:not(:last-child) {
  margin-bottom: 1.75rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1rem;
}

.menu-footer__link {
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.social-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #7F3A6A;
}

.social-footer__item_circle {
  border-radius: 50%;
}

.social-footer__item_square {
  border-radius: 0.375rem;
}

.social-footer__item::before {
  font-size: 1.25rem;
}

.contact-us__title {
  text-align: center;
  font-family: Exo;
  font-weight: 700;
  line-height: 140%;
  /* 22.4px */
  text-transform: capitalize;
  color: #313131;
}

.contact-us__title:not(:last-child) {
  margin-bottom: 0.75em;
}

.contact-us a {
  line-height: 150%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__container {
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  font-family: "Exo";
  font-weight: 700;
  line-height: 140%;
  /* 61.6px */
  text-transform: capitalize;
  color: #313131;
  overflow: hidden;
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.main__title span {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.main__title span::after {
  content: "";
  position: absolute;
  width: 101%;
  left: 0;
  background-color: #E9A923;
  border-radius: 0.5rem;
  z-index: -1;
}

.main__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.main__text {
  overflow: hidden;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
}

.main__text._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.main__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.main__image img {
  max-width: 100%;
  width: 28.8125rem;
  height: 28.8125rem;
}

.trafic-purple {
  position: relative;
  z-index: 2;
}

.trafic-purple__slider {
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  background-color: #7F3A6A;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.trafic-purple__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trafic-purple__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.trafic-purple__text {
  white-space: nowrap;
  color: #ffffff;
  font-family: "Exo";
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.trafic-purple img {
  width: 100%;
}

.trafic-yellow {
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  width: 100%;
}

.trafic-yellow__slider {
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: #E9A923;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.trafic-yellow__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trafic-yellow__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.trafic-yellow__text {
  white-space: nowrap;
  color: #ffffff;
  font-family: "Exo";
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.trafic-yellow img {
  width: 100%;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__title {
  text-align: center;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

.partners__title:not(:last-child) {
  margin-bottom: 1.25em;
}

.partners__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1e9ee;
  border-radius: 0.625rem;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

.partners__item._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.partners__item img {
  height: 3.5rem;
  width: 100%;
}

.partners__image img {
  max-width: 100%;
  width: 28.8125rem;
  height: 28.8125rem;
}

.about__title {
  text-align: center;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

.about__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.about__columns {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 1.5rem;
}

.about__item {
  -webkit-transform: translate(0px, 40%);
      -ms-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
}

.about__item._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.item-about__title:not(:last-child) {
  margin-bottom: 1rem;
}

.item-about__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__image {
  -ms-grid-column-align: center;
      justify-self: center;
}

.services__image img {
  max-width: 100%;
  width: 28.8125rem;
  height: 28.8125rem;
}

.content-services {
  color: #ffffff;
}

.content-services__title {
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

.content-services__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.content-services__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.content-services__columns {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-services {
  border-radius: 0.625rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

.row-services_purple {
  background-color: #7F3A6A;
  padding: 1.5rem 1rem;
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.row-services_purple._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.row-services_yellow {
  padding: 1rem;
  background-color: #E9A923;
  -webkit-transform: translate(0px, 70%);
      -ms-transform: translate(0px, 70%);
          transform: translate(0px, 70%);
  opacity: 0;
}

.row-services_yellow._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.row-services__title {
  color: #ffffff;
}

.row-services__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.row-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 140%;
}

.row-services__list_1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__content {
  text-align: center;
  border-radius: 0.9375rem;
  background-color: #7F3A6A;
  color: #ffffff;
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.join__content._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.join__title {
  font-family: "Exo";
  font-weight: 700;
  line-height: 140%;
  /* 61.6px */
  text-transform: capitalize;
  color: #ffffff;
}

.join__title:not(:last-child) {
  margin-bottom: 1rem;
}

.join__title span {
  white-space: nowrap;
  position: relative;
  z-index: 2;
}

.join__title span::after {
  content: "";
  position: absolute;
  width: 101%;
  left: 0;
  background-color: #E9A923;
  border-radius: 0.5rem;
  z-index: -1;
}

.join__text:not(:last-child) {
  margin-bottom: 2rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .main::after {
    background: url("../img/bg_desktop.svg") 100% 100% repeat;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1.75rem;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .main__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .partners__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.75rem;
  }

  .partners__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .partners__item:nth-child(1) {
    grid-column: 1/-1;
    width: 16.6875rem;
  }

  .about__columns {
    grid-template-columns: repeat(auto-fill, minmax(21.4375rem, 1fr));
  }

  .services__container {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .content-services__columns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .row-services__list_2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 61.99875em) {
  .content-services__row:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .content-services__row:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .content-services__row:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 71.25em) {
  .title {
    font-size: 2rem;
  }

  .title span::after {
    height: 0.75rem;
  }

  .title span::after {
    bottom: 0.1875rem;
  }

  .title-small {
    font-size: 1.5rem;
  }

  .title-small span::after {
    height: 0.75rem;
  }

  .title-small span::after {
    bottom: 0.1875rem;
  }

  .menu {
    gap: 4rem;
  }

  .menu__list {
    -webkit-column-gap: 2.875rem;
       -moz-column-gap: 2.875rem;
            column-gap: 2.875rem;
  }

  .menu-footer__list {
    -webkit-column-gap: 2.875rem;
       -moz-column-gap: 2.875rem;
            column-gap: 2.875rem;
  }

  .main {
    padding-top: 2.625rem;
  }

  .main__title {
    font-size: 2.75rem;
  }

  .main__title span::after {
    height: 0.75rem;
  }

  .main__title span::after {
    bottom: 0.375rem;
  }

  .trafic {
    padding-top: 3.75rem;
  }

  .trafic {
    padding-bottom: 3.75rem;
  }

  .trafic-purple__wrapper {
    padding-top: 1rem;
  }

  .trafic-purple__wrapper {
    padding-bottom: 1rem;
  }

  .trafic-purple__text {
    font-size: 1.5rem;
  }

  .trafic-purple img {
    height: 1.3125rem;
  }

  .trafic-yellow__wrapper {
    padding-top: 1rem;
  }

  .trafic-yellow__wrapper {
    padding-bottom: 1rem;
  }

  .trafic-yellow__text {
    font-size: 1.5rem;
  }

  .trafic-yellow img {
    height: 1.3125rem;
  }

  .partners__container {
    padding-top: 4.6875rem;
  }

  .partners__container {
    padding-bottom: 4.6875rem;
  }

  .partners__items {
    gap: 1.5rem;
  }

  .partners__item {
    padding: 2.3125rem;
  }

  .about__container {
    padding-top: 3.75rem;
  }

  .about__container {
    padding-bottom: 3.75rem;
  }

  .about__columns {
    -webkit-column-gap: 10.625rem;
       -moz-column-gap: 10.625rem;
            column-gap: 10.625rem;
  }

  .services__container {
    padding-top: 4.6875rem;
  }

  .services__container {
    padding-bottom: 4.6875rem;
  }

  .services__container {
    gap: 7.5rem;
  }

  .content-services__columns {
    gap: 1.5rem;
  }

  .row-services__list {
    font-size: 1.125rem;
  }

  .row-services__list_1 {
    gap: 1.5rem;
  }

  .row-services__list_2 {
    gap: 1.5rem;
  }

  .join__container {
    padding-top: 4rem;
  }

  .join__container {
    padding-bottom: 4rem;
  }

  .join__content {
    padding-top: 4rem;
  }

  .join__content {
    padding-bottom: 4rem;
  }

  .join__title {
    font-size: 2.75rem;
  }

  .join__title span::after {
    height: 0.75rem;
  }

  .join__title span::after {
    bottom: 0.375rem;
  }
}

@media (min-width: 73.25em) {
  .main__title:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 20em) {
  .main__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 62.5em) {
  .services__container {
    gap: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .content-services__row:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .content-services__row:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .content-services__row:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 47.9375em) {
  .title {
    font-size: 1.5rem;
  }

  .title span::after {
    height: 0.625rem;
  }

  .title span::after {
    bottom: 0.09375rem;
  }

  .title-small {
    font-size: 1.125rem;
  }

  .title-small span::after {
    height: 0.625rem;
  }

  .title-small span::after {
    bottom: 0.09375rem;
  }

  .main {
    padding-top: 0.75rem;
  }

  .main__title {
    font-size: 1.75rem;
  }

  .main__title span::after {
    height: 0.625rem;
  }

  .main__title span::after {
    bottom: 0.09375rem;
  }

  .trafic {
    padding-top: 2.5rem;
  }

  .trafic {
    padding-bottom: 2.5rem;
  }

  .trafic-purple__wrapper {
    padding-top: 0.75rem;
  }

  .trafic-purple__wrapper {
    padding-bottom: 0.75rem;
  }

  .trafic-purple__text {
    font-size: 1rem;
  }

  .trafic-purple img {
    height: 0.8125rem;
  }

  .trafic-yellow__wrapper {
    padding-top: 0.75rem;
  }

  .trafic-yellow__wrapper {
    padding-bottom: 0.75rem;
  }

  .trafic-yellow__text {
    font-size: 1rem;
  }

  .trafic-yellow img {
    height: 0.8125rem;
  }

  .partners__container {
    padding-top: 2.5rem;
  }

  .partners__container {
    padding-bottom: 2.5rem;
  }

  .partners__items {
    gap: 1.25rem;
  }

  .partners__item {
    padding: 1.5rem;
  }

  .about__container {
    padding-top: 2.5rem;
  }

  .about__container {
    padding-bottom: 2.5rem;
  }

  .about__columns {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .services__container {
    padding-top: 2.5rem;
  }

  .services__container {
    padding-bottom: 2.5rem;
  }

  .content-services__columns {
    gap: 1.25rem;
  }

  .row-services__list {
    font-size: 0.875rem;
  }

  .row-services__list_1 {
    gap: 1rem;
  }

  .row-services__list_2 {
    gap: 0.75rem;
  }

  .join__container {
    padding-top: 2.5rem;
  }

  .join__container {
    padding-bottom: 2.5rem;
  }

  .join__content {
    padding-top: 2.5rem;
  }

  .join__content {
    padding-bottom: 2.5rem;
  }

  .join__title {
    font-size: 1.75rem;
  }

  .join__title span::after {
    height: 0.625rem;
  }

  .join__title span::after {
    bottom: 0.09375rem;
  }
}

@media (max-width: 47.99875em) {
  .header__logo img {
    height: 2.25rem;
    width: 9.0625rem;
  }

  .menu {
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -100%;
    padding: 11.5rem 1rem 2.5rem 1rem;
    background-color: #ffffff;
    overflow: auto;
    gap: 2rem;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu-open .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    display: block;
    padding: 0.75rem;
    min-width: 10.625rem;
    text-align: center;
  }

  .menu__button {
    width: 10.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    border-radius: 0.5rem;
    background-color: #7F3A6A;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__logo img {
    height: 2.25rem;
    width: 9.0625rem;
  }

  .menu-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2.5rem;
  }

  .partners__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 2.5rem;
  }

  .partners__content {
    width: 100%;
  }

  .partners__item {
    width: 100%;
  }

  .row-services__list_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .main::after {
    background: url("../img/bg_mob.svg") 100% 100% repeat;
  }
}

@media (min-width: 47.9375em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.5rem , 0.471849866rem  +  2.144772118vw , 2rem )) {
    .title {
      font-size: clamp( 1.5rem , 0.471849866rem  +  2.144772118vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.471849866rem  +  2.144772118vw , 2rem )) {
    .title {
      font-size: calc(1.5rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .title span::after {
      height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .title span::after {
      height: calc(0.625rem + 0.125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem )) {
    .title span::after {
      bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem );
    }
}

@supports not (bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem )) {
    .title span::after {
      bottom: calc(0.09375rem + 0.09375 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.3538873995rem  +  1.6085790885vw , 1.5rem )) {
    .title-small {
      font-size: clamp( 1.125rem , 0.3538873995rem  +  1.6085790885vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.3538873995rem  +  1.6085790885vw , 1.5rem )) {
    .title-small {
      font-size: calc(1.125rem + 0.375 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .title-small span::after {
      height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .title-small span::after {
      height: calc(0.625rem + 0.125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem )) {
    .title-small span::after {
      bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem );
    }
}

@supports not (bottom: clamp( 0.09375rem , -0.0990281501rem  +  0.4021447721vw , 0.1875rem )) {
    .title-small span::after {
      bottom: calc(0.09375rem + 0.09375 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (gap: clamp( 2rem , -2.1126005362rem  +  8.5790884718vw , 4rem )) {
    .menu {
      gap: clamp( 2rem , -2.1126005362rem  +  8.5790884718vw , 4rem );
    }
}

@supports not (gap: clamp( 2rem , -2.1126005362rem  +  8.5790884718vw , 4rem )) {
    .menu {
      gap: calc(2rem + 2 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports ((-moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem )) or (column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
         -moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
              column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem )) or (column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
         -moz-column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
              column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports ((-moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem )) or (column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem ))) {
    .menu-footer__list {
      -webkit-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
         -moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
              column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem )) or (column-gap: clamp( 1.4375rem , -1.5184316354rem  +  6.1662198391vw , 2.875rem ))) {
    .menu-footer__list {
      -webkit-column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
         -moz-column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
              column-gap: calc(1.4375rem + 1.4375 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 0.75rem , -3.1055630027rem  +  8.0428954424vw , 2.625rem )) {
    .main {
      padding-top: clamp( 0.75rem , -3.1055630027rem  +  8.0428954424vw , 2.625rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , -3.1055630027rem  +  8.0428954424vw , 2.625rem )) {
    .main {
      padding-top: calc(0.75rem + 1.875 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem )) {
    .main__title {
      font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem )) {
    .main__title {
      font-size: calc(1.75rem + 1 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .main__title span::after {
      height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .main__title span::after {
      height: calc(0.625rem + 0.125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem )) {
    .main__title span::after {
      bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem );
    }
}

@supports not (bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem )) {
    .main__title span::after {
      bottom: calc(0.09375rem + 0.28125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .trafic {
      padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .trafic {
      padding-top: calc(2.5rem + 1.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .trafic {
      padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .trafic {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-purple__wrapper {
      padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-purple__wrapper {
      padding-top: calc(0.75rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-purple__wrapper {
      padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-purple__wrapper {
      padding-bottom: calc(0.75rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .trafic-purple__text {
      font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .trafic-purple__text {
      font-size: calc(1rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem )) {
    .trafic-purple img {
      height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem );
    }
}

@supports not (height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem )) {
    .trafic-purple img {
      height: calc(0.8125rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-yellow__wrapper {
      padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-yellow__wrapper {
      padding-top: calc(0.75rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-yellow__wrapper {
      padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.235924933rem  +  1.072386059vw , 1rem )) {
    .trafic-yellow__wrapper {
      padding-bottom: calc(0.75rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .trafic-yellow__text {
      font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .trafic-yellow__text {
      font-size: calc(1rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem )) {
    .trafic-yellow img {
      height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem );
    }
}

@supports not (height: clamp( 0.8125rem , -0.215650134rem  +  2.144772118vw , 1.3125rem )) {
    .trafic-yellow img {
      height: calc(0.8125rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .partners__container {
      padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .partners__container {
      padding-top: calc(2.5rem + 2.1875 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .partners__container {
      padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .partners__container {
      padding-bottom: calc(2.5rem + 2.1875 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem )) {
    .partners__items {
      gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem )) {
    .partners__items {
      gap: calc(1.25rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding: clamp( 1.5rem , -0.1707439678rem  +  3.4852546917vw , 2.3125rem )) {
    .partners__item {
      padding: clamp( 1.5rem , -0.1707439678rem  +  3.4852546917vw , 2.3125rem );
    }
}

@supports not (padding: clamp( 1.5rem , -0.1707439678rem  +  3.4852546917vw , 2.3125rem )) {
    .partners__item {
      padding: calc(1.5rem + 0.8125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .about__container {
      padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .about__container {
      padding-top: calc(2.5rem + 1.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .about__container {
      padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.0703753351rem  +  5.3619302949vw , 3.75rem )) {
    .about__container {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports ((-moz-column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem )) or (column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem ))) {
    .about__columns {
      -webkit-column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem );
         -moz-column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem );
              column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem )) or (column-gap: clamp( 2.5rem , -14.2074396783rem  +  34.8525469169vw , 10.625rem ))) {
    .about__columns {
      -webkit-column-gap: calc(2.5rem + 8.125 * (100vw - 47.9375rem) / 23.3125);
         -moz-column-gap: calc(2.5rem + 8.125 * (100vw - 47.9375rem) / 23.3125);
              column-gap: calc(2.5rem + 8.125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .services__container {
      padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .services__container {
      padding-top: calc(2.5rem + 2.1875 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .services__container {
      padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -1.9981568365rem  +  9.3833780161vw , 4.6875rem )) {
    .services__container {
      padding-bottom: calc(2.5rem + 2.1875 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem )) {
    .content-services__columns {
      gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.735924933rem  +  1.072386059vw , 1.5rem )) {
    .content-services__columns {
      gap: calc(1.25rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.360924933rem  +  1.072386059vw , 1.125rem )) {
    .row-services__list {
      font-size: clamp( 0.875rem , 0.360924933rem  +  1.072386059vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.360924933rem  +  1.072386059vw , 1.125rem )) {
    .row-services__list {
      font-size: calc(0.875rem + 0.25 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (gap: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .row-services__list_1 {
      gap: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem );
    }
}

@supports not (gap: clamp( 1rem , -0.028150134rem  +  2.144772118vw , 1.5rem )) {
    .row-services__list_1 {
      gap: calc(1rem + 0.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (gap: clamp( 0.75rem , -0.7922252011rem  +  3.2171581769vw , 1.5rem )) {
    .row-services__list_2 {
      gap: clamp( 0.75rem , -0.7922252011rem  +  3.2171581769vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.75rem , -0.7922252011rem  +  3.2171581769vw , 1.5rem )) {
    .row-services__list_2 {
      gap: calc(0.75rem + 0.75 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__container {
      padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__container {
      padding-top: calc(2.5rem + 1.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__container {
      padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__container {
      padding-bottom: calc(2.5rem + 1.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__content {
      padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__content {
      padding-top: calc(2.5rem + 1.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__content {
      padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.5844504021rem  +  6.4343163539vw , 4rem )) {
    .join__content {
      padding-bottom: calc(2.5rem + 1.5 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem )) {
    .join__title {
      font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.3063002681rem  +  4.2895442359vw , 2.75rem )) {
    .join__title {
      font-size: calc(1.75rem + 1 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .join__title span::after {
      height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.3679624665rem  +  0.5361930295vw , 0.75rem )) {
    .join__title span::after {
      height: calc(0.625rem + 0.125 * (100vw - 47.9375rem) / 23.3125);
    }
}

@supports (bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem )) {
    .join__title span::after {
      bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem );
    }
}

@supports not (bottom: clamp( 0.09375rem , -0.4845844504rem  +  1.2064343164vw , 0.375rem )) {
    .join__title span::after {
      bottom: calc(0.09375rem + 0.28125 * (100vw - 47.9375rem) / 23.3125);
    }
}
}

@media (min-width: 20em) and (max-width: 73.25em) {
@supports (margin-bottom: clamp( 1.5rem , 1.4061032864rem  +  0.4694835681vw , 1.75rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 1.5rem , 1.4061032864rem  +  0.4694835681vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 1.4061032864rem  +  0.4694835681vw , 1.75rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(1.5rem + 0.25 * (100vw - 20rem) / 53.25);
    }
}
}

@media (min-width: 62.5em) and (max-width: 71.25em) {
@supports (gap: clamp( 2.5rem , -33.2142857143rem  +  57.1428571429vw , 7.5rem )) {
    .services__container {
      gap: clamp( 2.5rem , -33.2142857143rem  +  57.1428571429vw , 7.5rem );
    }
}

@supports not (gap: clamp( 2.5rem , -33.2142857143rem  +  57.1428571429vw , 7.5rem )) {
    .services__container {
      gap: calc(2.5rem + 5 * (100vw - 62.5rem) / 8.75);
    }
}
}

@media (any-hover: hover) {
  .button_purple:hover {
    background-color: #E9A923;
  }

  .button_yellow:hover {
    background-color: #ffffff;
    color: #7F3A6A;
  }

  .menu__link:hover {
    color: #E9A923;
  }

  .menu-footer__link:hover {
    color: #E9A923;
  }

  .social-footer__item:hover {
    background-color: #E9A923;
  }

  .contact-us a:hover {
    color: #E9A923;
  }
}